{% extends 'base.html' %} {% block title%} MerchTrack Index Page {% endblock %}
{% block content%}

<div class="flex  w-full h-full bg-[#f3f3f3]">
    <table class='w-full'>
        <tr class='h-fit'>
        <th>No</th>
        <th>Full Name</th>
        <th>Student Number</th>
        <th>Email</th>
        <th>Course</th>
        <th>Payment Method</th>
        <th>Status of Payment</th>
        <th>Status of Order</th>
        </tr>
        
        {% for x in orders %}
        <tr>
        <td>{{x.0}}</td>
        <td>{{x.1}}</td>
        <td>{{x.2}}</td>
        <td>{{x.3}}</td>
        <td>{{x.4}}</td>
        <td>{{x.5}}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}