{% extends 'base.html' %} {% block title%} Contact Us {% endblock %}

{% block nav %}
    <a class='font-regular nav-item' href="{% url 'home' %}">Home</a>
    <a class='text-gray-500 font-regular nav-item' href="{% url 'aboutUs' %}">About Us</a>
    <a class='font-bold nav-item' href="{% url 'contactUs' %}">Contact Us</a> 
{% endblock %}

{% block content%}
{% load static %}
<div class="flex flex-row flex-wrap  w-full h-full bg-[#ffffff]">
    <div class='flex'>
        <img class='h-[80dvh] w-fit my-auto mx-20' src="{% static 'assets/ContactInfo.svg' %}" alt="Contact Info" />
        <div class='flex flex-col items-center w-full mx-20'>
            <div class='flex flex-col w-full '>
                <span class="text-[7dvh] mx-auto font-semiboldbold text-black ">Contact Us</span>
            </div>
            <form class='flex flex-col items-center w-full' action="" method="POST">
                {% if success_message %}
                <div class='w-full px-5 py-2 mx-5 text-justify text-blue-700 bg-blue-100 rounded-lg indent-5'>{{success_message}}</div>
                {% endif %}
                {%csrf_token%}
                <input class='w-[90%] indent-2 rounded-md my-3  border-[#818286]' type="text" id="name" name="name" placeholder="Your name">
                <input class='w-[90%] indent-2 mb-3 rounded-md border-[#818286]' type="text" id="email" name="email" placeholder="Email">
                <textarea rows='4' class='w-[90%] rounded-md indent-2 mb-3 border-[#818286]' type="text" id="message" name="message" placeholder="Message"></textarea>
                <input class=' text-white bg-[#3BAFE1] text-2xl rounded-xl font-Inter font-semibold text-center py-2 my-3 px-10 cursor-pointer hover:opacity-[0.5] transition-all' type="submit" value="SEND" >
            </form>
            <div class='w-[85%] h-px bg-black my-3' style="opacity: 1; transform-origin: 50% 50% 0px;"></div>
            <div class='flex flex-col'>
                <div class='flex flex-row items-start '>
                    <img class='' src="{% static 'assets/Facebook.svg'%}" alt='Facebook Icon'>
                    <span class='my-auto'>MerchTrack</span>
                </div>
                <div class='flex flex-row'>
                    <img class='' src="{% static 'assets/Phone.svg'%}" alt='Phone Icon'>
                    <span class='my-auto'>0922-223-2321</span>
                </div>
                <div class='flex flex-row'>
                    <img class='' src="{% static 'assets/Email.svg'%}" alt='Email Icon'>
                    <span class='my-auto'>merchtrack@gmail.com</span>
                </div>
                <div class='flex flex-row'>
                    <img class='' src="{% static 'assets/Location.svg'%}" alt='Location Icon'>
                    <span class='my-auto'>Ateneo de Naga University, Ateneo Ave., Naga City</span>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}