{% extends 'base.html' %} 
{% block title %} Dashboard {% endblock %}

{% block content %}
{% load static %}
{% load slippers %}

<div  class='flex flex-col w-screen  justify-center overflow-y-auto h-full bg-[#f3f3f3]'>
    <div class='flex flex-col p-5 m-auto my-4 overflow-visible bg-white shadow-xl fade-box rounded-xl min-w-auto'>
        <div class='self-start w-full mx-5'>
            <div class='self-start text-[#3BAFE1] text-3xl mt-2 font-bold text-left'>Welcome to MerchTrack Dashboard!</div>
            <div class='self-start w-full pb-3 mb-2 text-lg italic font-medium border-b'>Easy way to order</div>
        </div>
        <div class='flex flex-row justify-between mx-5 my-2'>
            <div class="flex flex-col">
                <div class="">
                    <span class='text-sm font-regular'>Logged in as</span>
                    <span class='text-sm font-semibold'>{{ user_details.student_name }}</span>
                </div>
                <div class="grid items-end grid-cols-4 mt-2 space-y-2">
                    {% for group in groups %}
                    <span class="p-1 px-3 mr-2 text-xs font-medium text-center text-white bg-[#3BAFE1]  rounded-xl h-fit">{{ group.name }}</span>
                    {% endfor %}
                </div>
            </div>
            <div class="flex h-fit">
                <a class="btn-primary" href="{% url 'messages' %}" >Check Messages</a>
                <a class="btn-primary" href="{% url 'customer_payment' %}" >Customer Payment</a>
            </div>
        </div>
        <div class='grid content-center grid-cols-4 gap-4 p-5 text-gray-800 justify-evenly group'>
            {% card url='create_order' src='assets/create.png' title='Create new order' %}
            {% card url='collections_index' src='assets/collections.png' title='Collections' %}
            {% card url='product_list' src='assets/inventory-ic.png' title='Inventory Manager' %}
            {% card url='fulfillment_view' src='assets/fulfillment.png' title='Order Fulfillment' %}
            {% card url='reports' src='assets/reporting.png' title='Reportings' %}
            {% card url='customer_list' src='assets/customers.png' title='Manage Users' %}
            {% card url='order_list' src='assets/track.png' title='Admin Tracker' %}
            {% card url='registration' src='assets/register.png' title='Register Account' %}
        </div>
        <form method='POST' action='/logout' class='flex flex-row-reverse self-start w-full mt-auto mr-10'>
            {% csrf_token %}
            <button type='submit' onclick="showModal('confirmationModal')" class='text-[#e13b3b] hover:bg-red-200 transition-all text-lg font-bold py-2 px-5 border border-[#e13b3b] rounded-xl active:scale-90 active:opacity-60' href='{% url 'logout' %}'>Logout</button>
        </form>
    </div>
</div>
{% modal modal_id='confirmationModal' modal_title='Confirm Log out' modal_message='Are you sure you want to logout' modal_warning='Please save any unsaved progresses as they will not be saved once logged out.' %}
{% endblock %}