{% extends 'base.html' %} {% block title %} Modify Product  {% endblock %}
{% load slippers %}

{% block nav %}
    {% back-to-dashboard %}
{% endblock %}

{% block content %}
{% load static %}
<div class=' flex flex-col w-screen h-full bg-[#f3f3f3] overflow-auto p-2'>
    <div class='flex flex-col items-center content-center justify-center w-auto h-auto p-5 m-auto overflow-visible bg-white shadow-xl rounded-xl'>
        <div class='self-start mx-5 w-fit'>
            <div class=' text-[#3BAFE1] text-3xl mb-2 font-bold text-left'>Modify Product</div>
            <div class='w-full pb-3 mb-2 text-lg italic font-medium border-b'>Easy way to order</div>
        </div>
        <form class='flex flex-row min-w-[50rem]' method="POST" autocomplete='off' enctype="multipart/form-data" >
            <div class='flex flex-col self-start justify-start w-4/6 px-10 my-5' >
                {% csrf_token %}
                <table class='table-auto border-spacing-y-2'>
                    <div class="inline-flex items-center">
                        <label class="relative -ml-2.5 flex cursor-pointer items-center rounded-full p-3" for="available_checkbox" data-ripple-dark="true">
                            <input
                                type="checkbox"
                                class="before:content[''] peer relative h-5 w-5 cursor-pointer appearance-none rounded-md border border-blue-gray-200 transition-all before:absolute before:top-2/4 before:left-2/4 before:block before:h-12 before:w-12 before:-translate-y-2/4 before:-translate-x-2/4 before:rounded-full before:bg-blue-gray-500 before:opacity-0 before:transition-opacity checked:border-blue-500 checked:bg-blue-500 checked:before:bg-blue-500 hover:before:opacity-10"
                                id="available_checkbox"
                                name="available"
                                {% if product.available %}checked{% endif %}
                            />
                            <span class="absolute text-white transition-opacity opacity-0 pointer-events-none top-2/4 left-2/4 -translate-y-2/4 -translate-x-2/4 peer-checked:opacity-100">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-3.5 w-3.5" viewBox="0 0 20 20" fill="currentColor" stroke="currentColor" stroke-width="1">
                                    <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
                                </svg>
                            </span>
                        </label>
                        <label class="mt-px font-semibold cursor-pointer select-none" for="available_checkbox">
                            <p class="flex items-center text-base antialiased font-bold leading-normal">Is Product currently available?</p>
                        </label>
                    </div>
                    
                    <tr>
                        <td class='py-2 align-top'><label class='mr-2 font-bold' for="{{ form.name.id_for_label }}">{{ form.name.label }}</label></td>
                        <td class='w-full'>{{ form.name }}</td>
                    </tr>
                    
                    <tr>
                        <td class='py-2 align-top'><label class='mb-auto mr-2 font-bold ' for="{{ form.description.id_for_label }}">{{ form.description.label }}</label></td>
                        <td class='line-clamp-3'>{{ form.description }}</td>
                    </tr>
                    
                    <tr>
                        <td class='py-2 align-top'><label class='mr-2 font-bold'  for="{{ form.price.id_for_label }}">{{ form.price.label }}</label></td>
                        <td>{{ form.price }}</td>
                    </tr>
                    
                    <tr>
                        <td class='py-2 align-top'><label class='mr-2 font-bold' for="{{ form.category.id_for_label }}">{{ form.category.label }}</label></td>
                        <td>
                            <input type="text" name="category" id="{{ form.category.id_for_label }}" list="category-list" value="{{ form.instance.category }}">
                            <datalist id="category-list">
                                {% for category in categories %}
                                    <option value="{{ category }}">{{ category }}</option>
                                {% endfor %}
                            </datalist>
                        </td>
                    </tr>
                    
                </table>

                {% if form.non_field_errors or form.errors %}
                <ul class='w-5/6 p-3 my-5 text-base text-red-700 list-inside bg-red-100 rounded-lg'>
                    {% for field in form %}
                        {% for error in field.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}

            </div>
            <div class='flex flex-col h-full p-5 rounded-lg w-72 '>
                <label class='mr-2 font-bold' for="id_productImage">Product Image:</label>
                <div class='flex self-center w-56 h-56 my-5 border rounded-lg bg-slate-200'>
                    {% if product.productImage %}
                    <img src="{{ product.productImage.url }}" class='z-10 block object-cover w-full h-full p-0 rounded-lg' alt='image preview' id='image-prev' />
                    {% else %}
                    <img class='z-10 block object-cover w-full h-full' alt='image preview' id='image-prev' />
                    {% endif %}
                </div>
                <input class='flex w-full px-1 py-2 file:px-3 file:py-1 file:rounded-full cursor-pointer file:border-0 hover:file:opacity-60 active:file:opacity-85 file:bg-blue-100 file:text-blue-700  my-1 text-sm rounded-lg' type="file" name="productImage" accept="image/*" id="id_productImage" onchange="previewImage(event)">
                <input class='self-end mt-auto w-full text-white bg-[#3BAFE1] font-semibold border-white rounded font-Inter  text-center py-2 px-4 my-2  cursor-pointer active:opacity-100 hover:opacity-[0.5] transition-all' 
                value="Update Product"
                onclick="showModal('confirmationModal')"
                type="submit"/>
                <a href="{% url 'delete_product' product_id=product.productId %}"  class="px-4 py-2 mb-2 font-semibold text-center text-white bg-red-500 rounded cursor-pointer hover:bg-red-700">Delete</a>
                <a href='{% url 'product_list' %}' class='self-end w-full mt-auto text-center btn-secondary' >
                    Cancel
                </a>
            </div>


        </form>


    </div>
</div>
{% modal modal_id='confirmationModal' modal_title='Confirm Modify Product' modal_message='Are you sure you want to modify this product?' modal_warning='This process is not reversible. Actions will be logged for security purposes of the business.' %}

<style>

    #image-prev {
        max-width: 300px;
        max-height: 300px;
    }

    p {
        display: flex;
        flex-direction: column;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        align-items: start;
    }
    
    .helptext {
        font-size: 0.8rem;
        color: blue;
        margin-left: 0.5rem;
    }
    
    p label {
        margin-right: 0.5rem;
        font-weight: 700;
    }
    
    ul {
        font-size: 0.8rem;
        list-style: disc;
        margin-left: 1rem;
    }
    
    p input {
        width: 100%;
        border-radius: 25px;
    }
    
    #id_password1, #id_password2 {
        border-radius: 0.5rem;
    }
    
    .errorlist {
        font-size: 0.85rem;
        list-style: none;
        margin: 1rem;
        border-radius: 0.5rem;
        background-color: rgb(254 226 226 );
        color: rgb(185 28 28);
        padding: 0.5rem;
    }

    input[type="text"], input[type="number"], textarea{
        border-radius: 0.5rem;
        width: 100%;

    }

    tr {
        display: grid;
        padding-bottom: 0.25rem; /* Adjust this value for vertical spacing */
    }
    
</style>
<script>
    function previewImage(event) {
        var reader = new FileReader();
        reader.onload = function(){
            var output = document.getElementById('image-prev');
            output.src = reader.result;
            output.style.display = 'block';
        };
        reader.readAsDataURL(event.target.files[0]);
    }
</script>

{% endblock %}