{% extends 'base.html' %} {% block title %} Welcome to MerchTrack! {% endblock %}
{% block content %}
{% load static %}
<script>
    const handleTextChange = (e) => {
        e.value = e.value.replace(/\D/g, '');
        
        if (e.value.length > 9) {
            e.value = e.value.substring(0, 9);
        }
    }
    
</script>

<div class="flex py-5 flex-row flex-wrap w-full h-full bg-[#f3f3f3]">
    <div class="z-0 flex flex-col flex-wrap h-full px-5 mx-5 my-auto ">
        <div class='p-5 bg-white shadow-2xl md:my-auto w-min rounded-xl'>
        <div class='flex flex-col flex-wrap items-start content-start justify-center w-screen my-auto'>
            <div class='flex flex-col text-left '>
                <span class='text-[3vw] mb-[-2vw]'>Welcome to </span>
                <span class='text-[9vw] font-bold text-black'>MerchTrack!</span>
            </div>
        </div>
        <div class='flex-wrap flex-1 w-full '>
            <form class='flex flex-col items-start' action="{% url 'trackOrder' %}" method="get">
                <div class='max-w-[75%]'>
                    <span class='mx-5 text-[2vw] text-center text-semibold'>ENTER YOUR STUDENT ID:</span>
                </div>
                <div class='flex flex-row items-start space-x-1 justify-start w-[75%]  mb-auto' >
                    <input class='max-w-[50%] indent-2 py-3 my-3 mx-5 border-[#818286] rounded-xl' type="number" id="student_id" name="student_id" placeholder="eg: 202201007" oninput='handleTextChange(this)' >
                    <input class=' text-white bg-[#3BAFE1] text-2xl rounded-xl font-Inter font-semibold text-center py-2 my-3  px-10 cursor-pointer hover:opacity-[0.5] transition-all' type="submit" value="SUBMIT" >
                </div>
            </form>
        </div>
        </div>
        {% if error_message %}
            <p style="color: red;">{{ error_message }}</p>
        {% endif %}
    </div>
    <div class='flex flex-col'>
        <div class="absolute bottom-0 right-0 z-10 w-[50%] h-fit">
            <img class='bottom-0 p-0' src="{% static 'assets/HomeTshirt.png' %}" alt="Merch Image" />
        </div>
    </div>
</div>
{% endblock %}
