{% extends 'base.html' %} {% block title %} Login {% endblock %}
{% block content %}
{% load static %}
{% load slippers %}



<div class=' flex flex-col w-screen h-full  bg-[#f3f3f3] '>
    <div class='flex overflow-visible flex-col justify-center items-center content-center max-w-[25rem] bg-white rounded-xl shadow-xl min-h-[50%]  m-auto p-5'>
        <div class='self-start w-full'>
            <div class=' self-start text-[#3BAFE1] text-3xl mt-2  font-bold text-left'>Log in to MerchTrack! </div>
            <div class='self-start w-full pb-3 mb-2 text-lg italic font-medium border-b'>Easy way to order</div>
        </div>

        <form class='flex w-full border-b flex-col self-center justify-start my-5 min-w-[80%]' method="POST" autocomplete='off' >
            {% csrf_token %}
            {% comment %} {{ form.as_p }} {% endcomment %}
            {% input type='text' name='username' id='id_username' label='Username' %}
            {% input type='password' name='password' id='id_password' label='Password' %}


            <input class='w-2/4 text-white text-center self-center px-10 bg-[#3BAFE1] border-white text-lg rounded-xl font-Inter font-semibold py-1 mb-5 cursor-pointer active:opacity-100 hover:opacity-[0.5] transition-all' 
            value="Login"
            type="submit"/>

            {% if form.non_field_errors %}
            <div class="relative flex-wrap max-w-full px-2 font-medium text-red-700 bg-red-100 border border-red-400 rounded" role="alert">
                <ul class="w-full list-disc list-inside">
                    {% for error in form.non_field_errors %}
                        <li class='self-center text-justify'>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </form>
        <div class='w-full p-2 text-xs text-blue-700 bg-blue-100 border border-blue-700 rounded'>
            Login using your student ID and password. <br> Reach out to the managing team for further assistance.
        </div>
        {% comment %} <div class='self-start mx-5'>
            <div class='italic font-medium'>Do not yet have an account?</div>
            <a class='text-[#3BAFE1] text-lg font-bold underline' href='{% url 'registration' %}' >Register here</a>
        </div> {% endcomment %}
    </div>
</div>
<style>
    p {
        display: flex;
        flex-direction: column;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        align-items: start;
        width: 100%;
    }
    
    .helptext {
        font-size: 0.8rem;
        color: blue;
        margin-left: 0.5rem;
    }
    
    p label {
        margin-right: 0.5rem;
        font-weight: 700;
    }
    
    ul {
        font-size: 0.85rem;
        list-style: none;
    }
    
    ul li {
        padding: 1rem;
        border-radius: 0.5rem;
        background-color: rgb(254 226 226 );
        color: rgb(185 28 28);
    }
    
    p input {
        width: 100%;
        border-radius: 25px;
    }
    
    #id_password, #id_password2 {
        border-radius: 0.5rem;
    }
    
    </style>
{% endblock %}