{% extends 'base.html' %} {% block title %} Login {% endblock %}
{% block content %}
{% load static %}

<style>
p {
    display: flex;
    flex-direction: column;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    align-items: start;
    width: 100%;
}

.helptext {
    font-size: 0.8rem;
    color: blue;
    margin-left: 0.5rem;
}

p label {
    margin-right: 0.5rem;
    font-weight: 700;
}

ul {
    font-size: 0.85rem;
    list-style: none;
}

ul li {
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: rgb(254 226 226 );
    color: rgb(185 28 28);
}

p input {
    width: 100%;
    border-radius: 25px;
}

#id_password, #id_password2 {
    border-radius: 0.5rem;
}

</style>

<div class=' flex flex-col w-screen h-full  bg-[#f3f3f3] '>
    <div class='flex overflow-visible flex-col justify-center items-center content-center bg-white rounded-xl shadow-xl min-h-[50%] min-w-[8rem] m-auto p-5'>
        <div class='self-start w-full mx-5'>
            <div class=' self-start text-[#3BAFE1] text-3xl mt-2  font-bold text-left'>Log in to MerchTrack! </div>
            <div class='self-start w-full pb-3 mb-2 text-lg italic font-medium border-b'>Easy way to order</div>
        </div>

        <form class='flex w-full border-b flex-col self-center justify-start my-5 min-w-[80%]' method="POST" autocomplete='off' >
            {% csrf_token %}
            {% comment %} {{ form.as_p }} {% endcomment %}

            <div class="relative w-full mb-5">
                <input type="text" name="username" required id='id_username' class="w-full h-16 p-3 pt-8 font-normal placeholder-transparent transition-all border border-gray-200 rounded-md peer focus:outline-none focus:border-gray-500 focus:shadow-sm" placeholder="name@example.com" autocomplete="off" />
                <label for="id_username" class="absolute top-0 left-0 h-full px-3 py-5 font-semibold transition-all duration-100 ease-in-out origin-left transform scale-75 translate-x-1 -translate-y-3 opacity-100 pointer-events-none peer-placeholder-shown:opacity-100 peer-focus:opacity-100 peer-placeholder-shown:scale-100 peer-focus:scale-75 peer-placeholder-shown:translate-y-0 peer-focus:-translate-y-3 peer-placeholder-shown:translate-x-0 peer-focus:translate-x-1">Username</label>
            </div>
            <div class="relative w-full mb-5">
                <input type="password" name="password" required id='id_password'  class="w-full h-16 p-3 pt-8 font-normal placeholder-transparent transition-all border border-gray-200 rounded-md peer focus:outline-none focus:border-blue-500 focus:shadow-sm" placeholder="password" autocomplete="off" />
                <label for="id_password" class="absolute top-0 left-0 h-full px-3 py-5 font-semibold transition-all duration-100 ease-in-out origin-left transform scale-75 translate-x-1 -translate-y-3 opacity-100 pointer-events-none peer-placeholder-shown:opacity-100 peer-focus:opacity-100 peer-placeholder-shown:scale-100 peer-focus:scale-75 peer-placeholder-shown:translate-y-0 peer-focus:-translate-y-3 peer-placeholder-shown:translate-x-0 peer-focus:translate-x-1">Password</label>
              </div>

            <input class='w-2/4 text-white text-center self-center px-10 bg-[#3BAFE1] border-white text-lg rounded-xl font-Inter font-semibold py-1 mb-5 cursor-pointer active:opacity-100 hover:opacity-[0.5] transition-all' 
            value="Login"
            type="submit"/>
        </form>
        <div class='p-2 text-xs text-blue-700 bg-blue-100 rounded-lg w-fit'>
            Login using your student ID and password. <br> Reach out to the managing team for further assistance.
        </div>
        {% comment %} <div class='self-start mx-5'>
            <div class='italic font-medium'>Do not yet have an account?</div>
            <a class='text-[#3BAFE1] text-lg font-bold underline' href='{% url 'registration' %}' >Register here</a>
        </div> {% endcomment %}
    </div>
</div>

{% endblock %}