{% extends 'base.html' %}
{% block title %} Edit Order {% endblock %}
{% load slippers %}

{% block nav %}
    {% back-to-dashboard %}
{% endblock %}

{% block content %}
<div id="pageBase" class='flex fade-box flex-col w-screen h-full bg-[#f3f3f3] overflow-auto p-2'>
    <div class='container flex flex-col items-center content-center justify-center p-5 m-auto overflow-visible bg-white shadow-xl rounded-xl w-2/4 md:min-w-2/4'>
        <div class='self-start w-full mx-5'>
            <div class='self-start text-[#3BAFE1] text-3xl mt-2 font-bold text-left'>Edit Order Details</div>
            <div class='self-start w-full pb-3 mb-2 text-lg italic font-medium border-b'>Easy way to order</div>
        </div>
        <div class="bg-white w-full my-3 py-2">
            <form method="post">
                {% csrf_token %}
                <div class="grid grid-cols-1 gap-6 sm:grid-cols-2">
                    <div>
                        <label class="block text-gray-700 text-sm font-bold mb-2" for="{{ form.customerId.id_for_label }}">Customer</label>
                        <select readonly name="customerId" id="customerId" value="{{ form.customerId.value }}" class="block w-full mt-1 rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
                            <option value="{{ order.customerId.user.id }}">{{order.customerId}}</option> 
                        </select>
                    </div>
                    <div>
                        <label class="block text-gray-700 text-sm font-bold mb-2" for="status">Status</label>
                        <select name="status" id="status" class="block w-full mt-1 rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
                            <option value="Pending" {% if form.initial.status == "Pending" %}selected{% endif %}>Pending</option>
                            <option value="Under Production" {% if form.initial.status == "Under Production" %}selected{% endif %}>Under Production</option>
                            <option value="Completed" {% if form.initial.status == "Completed" %}selected{% endif %}>Completed</option>
                        </select>
                    </div>
                    <div>
                        <label class="block text-gray-700 text-sm font-bold mb-2" for="{{ form.totalAmount.id_for_label }}">Total Amount</label>
                        <input type="number" readonly name="totalAmount" id="totalAmount" value="{{ form.totalAmount.value }}" class="block w-full mt-1 rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
                    </div>
                    <div>
                        <label class="block text-gray-700 text-sm font-bold mb-2" for="{{ form.discountAmount.id_for_label }}">Discount Amount</label>
                        <input type="number" readonly name="discountAmount" id="discountAmount" value="{{ form.discountAmount.value }}" class="block w-full mt-1 rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
                    </div>
                    <div>
                        <label class="block text-gray-700 text-sm font-bold mb-2" for="{{ form.estimatedDeliveryDate.id_for_label }}">Estimated Delivery Date</label>
                        {{ form.estimatedDeliveryDate }}
                    </div>
                </div>
                <div class="flex justify-end mt-4">
                    <button onclick="showModal('confirmationModal')" type="submit" class="btn-primary mr-2">Save Changes</button>
                    <a href="{% url 'order_list' %}" class="btn-secondary">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% modal modal_id='confirmationModal' modal_title='Confirm Modify Order' modal_message='Are you sure you want to modify this order?' modal_warning='This process is not reversible. Actions will be logged for security purposes of the business.' %}
<style>
    input[type="text"],
    input[type="email"],
    input[type="number"],
    input[type="password"],
    input[type="date"],
    select, 
    textarea {
        border-radius: 0.375rem;
    }
</style>
{% endblock %}
