{% extends 'base.html' %} {% block title%} Admin Tracker {% endblock %}
{% load slippers %}
{% block nav %}
    {% back-to-dashboard %}
{% endblock %}

{% block content%}
{% #page-base page_title='Admin Tracker' %}
<div class="flex w-auto min-w-[80vw] h-full ">
    <table class='w-full h-10 mx-5 mt-5 ' >
        <tr>
        <th>NO</th>
        <th>FULL NAME</th>
        <th>STUDENT NUMBER</th>
        <th>EMAIL</th>
        <th>COURSE</th>
        <th>PAYMENT OF METHOD</th>
        <th>STATUS OF PAYMENT</th>
        <th>STATUS OF ORDER</th>
        </tr>
        
        {% for x in orders %}
        <tr class='w-full h-10 border-b '>
            <td class='text-center'>{{x.0}}</td>
            <td class='text-left overflow-ellipsis'>{{x.1}}</td>
            <td class='text-center'>{{x.2}}</td>
            <td class='text-center'>{{x.3}}</td>
            <td class='text-center'>{{x.4}}</td>
            <td class='text-center'>{{x.5}}</td>
            <td class='text-center'>{{x.6}}</td>
            <td class='text-center'>{{x.7}}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% /page-base %}
{% endblock %}
